# Node modules
node_modules/


# Ignore generated .js and .map files
/app/*.js
/app/*.map
/app/objects/*.js

/demo/app/*.js
/demo/app/*.map

/demo/app/toh/*.js
/demo/app/toh/*.map

package.json
tsconfig.json
typings.json

typings/

# Debugging
npm-debug.log.*

/venv/
