# Node modules
node_modules/


# Ignore generated .js and .map files
/app/*.js
/app/*.map

/demo/app/*.js
/demo/app/*.map

package.json
tsconfig.json
typings.json

=======
typings/

# Debugging
npm-debug.log
