
<body>
	<h1> A SHAKESPEARE WEBSITE </h1>
	
	<div id = "reader">
		<h2> Act {{sceneToDisplay.actNumber}} Scene {{sceneToDisplay.sceneNumber}}</h2>
		<div id = "text">
			<p id = "scene-text">
				<span *ngFor="let line of sceneToDisplay.lines">
					{{line.words}} 
					<br>
				</span>
			</p>
		</div>
		<div id = "syllable-count">
			<p id = "syllable-text">
				<span *ngFor="let line of sceneToDisplay.lines">
					<b id = "syllables" *ngIf = countSyllables> {{line.syllableCount}} </b> 
					<br>
				</span>
			</p>
		</div>
		<div id = "line-numbers">
			<p id = "line-number-text">
				<span *ngFor="let line of sceneToDisplay.lines">
					<b *ngIf = "line.lineNumber % 5 == 0"> {{line.lineNumber}} </b>
					<br>
				</span>
			</p>
		</div>
	</div>
	
	
	<div id = "box">
		<div id = "navigation">
			<div id = "nav-button-1">
				<form><input type="button" value="Previous" (click)="toPreviousScene()" /></form>
			</div>
			<div id = "dropdown-menu">
				<label id="features" for="dropdown"> </label>
				<select [(ngModel)]="sceneToDisplay" ngChange="update(scene)" id="dropdown" required>
					<option *ngFor = "let scene of scenes" [ngValue]="scene">
						Act {{scene.actNumber}}, Scene {{scene.sceneNumber}}
					</option>
				</select>
			</div>
			<div id = "nav-button-2">
				<form name = "hello"><input type="button" value="Next" (click)="toNextScene()" /></form>
			</div>
		</div>
		<div id = "checkbox">
		<label for = "count-syllables" class = "feature-checkbox-label">Count Syllables</label>
		<input type = "checkbox" id = "count-syllables" (click)="toggleCountSyllables()"/>
		</div>
	</div>
</body>