*, html {
    margin:0;
    padding:0;
}
body {
  width: 1000px;
  margin: auto;
  height: 1000px;
}
h1 {
    text-align: center;
    margin-bottom:25px;
    font-family: 'Fjalla One', sans-serif;
    color: firebrick;
}

h2 {
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-size: 200%;
    color: firebrick;
}

p {
  font-family: 'Crimson Text', serif;
  font-size: 14pt;
  color: black;
}

b{
  font-weight: bold;
}

#reader {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 0;
  min-width: 650px;
  height: auto;
  background: white;
  -webkit-box-shadow: -6px 10px 6px -6px #777;
	   -moz-box-shadow: -6px 10px 6px -6px #777;
	        box-shadow: -6px 10px 6px -6px #777;
  -webkit-box-shadow: -6px 10px 6px -6px #777;
	   -moz-box-shadow: -6px 10px 6px -6px #777;
	        box-shadow: -3px 5px 6px -6px #777, 
                       3px 5px 6px -6px #777, 
                       0px 1px 10px -6px #777;
  float: left;
  margin-left: auto;
  margin-right: auto;
}

#characters{
  float: left;
  width: 12%;
  margin-left: 5px;
  text-align: center;
}
#character{
  text-decoration: underline;
}
#text{
  float: left;
  width: 70%;
  margin-left: 10px;
}

#syllable-count{
  float: left;
  width: 10%;
}

#line-numbers{
  float: left;
  color: gray;
  width: 5%;
}


#line-number-text{
  color: gray;
}
#syllable-text{
  font-weight: bold;
  color: firebrick;
}

#box {
  width: fit-content;
  height: 100px;
  background: white;
  overflow: hidden;
  -webkit-box-shadow: -6px 10px 6px -6px #777;
	   -moz-box-shadow: -6px 10px 6px -6px #777;
	        box-shadow: -6px 10px 6px -6px #777;
  -webkit-box-shadow: -6px 10px 6px -6px #777;
	   -moz-box-shadow: -6px 10px 6px -6px #777;
	        box-shadow: -3px 5px 6px -6px #777, 
                       3px 5px 6px -6px #777, 
                       0px 1px 10px -6px #777;
  
  margin-left: 660px;
  margin-right: auto;
  position: fixed;
}

#navigation{
  display: flex;
  width: fit-content;
  margin: fit-content;
}
#checkboxes{
  width: fit-content;
}

.feature-checkbox-label {
  margin-left: 13px;
  
  width: 100%;
  line-height:90px;
  transform: translate3d(0, 0, 0);
  color: black;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  letter-spacing: .4em;
  font-size: 10px;
  text-shadow: 0 1px 0 rgba(black, .1);
}
@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}