<body>
	<!-- The play dropdown-->
	<div class = "dropdown-menu" id = "play-dropdown">
		<label id="plays" for="play-dropdown-select"> </label>
		<select [(ngModel)]="currentPlay" id="play-dropdown-select" (ngModelChange)="loadNewPlay()">
			<option *ngFor = "let play of plays" [ngValue]="play">
				{{play.title}}
			</option>
		</select>
	</div>
	
	<!-- Even though we don't use the loop variable p, this loop is oddly
		 necessary in order to read through play[0].play... Not doing so yields errors-->
	<span *ngFor="let p of play">
		<div id = "reader">
			<h2> Act {{roman(currentActScene.act)}} Scene {{roman(currentActScene.scene)}}</h2>
			<!--We list each character who speaks in this div-->
			<div id = "characters">
				<span *ngFor="let speech of play[0].play.acts[currentActScene.act - 1].scenes[currentActScene.scene - 1].speeches">
					<p id = "character">{{speech.character}}</p>
					<!--Insert a line-break for every line of speech (minus 1 because the character name takes up a line) for correct spacing-->
					<span *ngFor="let line of speech.lines; let i = index">
						<template [ngIf]="i>0">
							<p><br></p>
						</template>
					</span>
				</span>
				<p><br></p>
			</div>
			<!--This is where all the scene's text is displayed-->
			<div id = "text">
				<span *ngFor="let speech of play[0].play.acts[currentActScene.act - 1].scenes[currentActScene.scene - 1].speeches">
						<span *ngFor="let line of speech.lines">
							<p>
								<!-- Comment tags necessary to eliminate whitespace when displaying -->
								<span *ngFor="let run of line.runs"><!--
									--><span *ngIf="!displayScansion && !highlight">{{run.text}}</span><!--
									--><span *ngIf="displayScansion"><!--
										--><span id = "stressed" *ngIf="run.bold === 'true'">{{run.text}}</span><!--
										--><span id = "unstressed" class = "fadeout" *ngIf="run.bold === 'false'">{{run.text}}</span><!--
									--></span><!--
									--><span *ngIf="highlight"><!--
										--><span *ngFor="let char of run.text | runChars"><!--
											--><span *ngIf="(isVowel(char) && highlightWhat == 'vowels') || (isConsonant(char) && highlightWhat == 'consonants')" id="highlighted">{{char}}</span><!--
											--><span id = "unhighlighted" class = "fadeout" *ngIf="(isConsonant(char) && highlightWhat == 'vowels') || (isVowel(char) && highlightWhat == 'consonants')">{{char}}</span><!--
											--><span id = "not-letter" class = "fadeout" *ngIf="(!isVowel(char) && !isConsonant(char))">{{char}}</span><!--
									   --></span><!--
									--></span><!--
								--></span>
							</p>
						</span>
				</span>
			</div>
			<!--We display syllable counts for each line only if countSyllables is checked-->
			<div id = "syllable-count">
				<span *ngFor="let speech of play[0].play.acts[currentActScene.act - 1].scenes[currentActScene.scene - 1].speeches">
					<p id = "syllable-text">
						<span *ngFor="let line of speech.lines">
								<span class = "syllable-text" id = "syllable-text-ten" *ngIf = "countSyllables && line.syllables == 10"> {{line.syllables}} </span>
								<span class = "syllable-text" id = "syllable-text-not-ten" *ngIf = "countSyllables && line.syllables != -1 && line.syllables != 10"> {{line.syllables}} </span>
								<br>
						</span>
					</p>
				</span>
			</div>
			<!--We always display the line number for each line-->
			<div id = "line-numbers">
				<span *ngFor="let speech of play[0].play.acts[currentActScene.act - 1].scenes[currentActScene.scene - 1].speeches">
						<p id = "line-number-text">
							<span *ngFor="let line of speech.lines">
								{{line.lineNumber}}
								<br>
							</span>
						</p>
				</span>
			</div>
			<!--This div contains all navigation options and analysis features-->
			<div id = "box">
				<div id = "navigation">
					<!-- Previous scene -->
					<div id = "previous" class = "nav-buttons">
						<input type="button" value="<" (click)="toPreviousScene()" />
					</div>
					<!-- Scene dropdown -->
					<div class = "dropdown-menu">
						<label id="features" for="dropdown"> </label>
						<select [(ngModel)]="currentActScene" id="dropdown" required>
							<option *ngFor = "let actScene of actScenes" [ngValue]="actScene">
								Act {{roman(actScene.act)}}, Scene {{roman(actScene.scene)}}
							</option>
						</select>
					</div>
					<!-- Next scene -->
					<div id = "forward" class = "nav-buttons">
						<input type="button" value=">" (click)="toNextScene()" />
					</div>
				</div>
				<div id = "checkboxes">
					<!-- Count syllables -->
					<div class = "toggle-feature">
						<label for = "count-syllables" class = "feature-checkbox-label">Count Syllables</label>
						<input type = "checkbox" id = "count-syllables" (click)="toggleCountSyllables()"/>
					</div>
					<!-- Display Scansion -->
					<div class = "toggle-feature">
						<label for = "display-scansion" class = "feature-checkbox-label">Display Scansion</label>
						<input type = "checkbox" id = "display-scansion" (click)="toggleDisplayScansion()" [disabled]="highlight"/>
					</div>
					<!-- Highlight vowels/consonants -->
					<div class = "toggle-feature">
						<label for = "highlight-vowels" class = "feature-checkbox-label">Highlight Vowels/Consonants</label>
						<input type = "checkbox" id = "highlight-vowels" (click)="toggleHighlight()" [disabled]="displayScansion"/>
						<br>
						<span *ngIf="highlight">
							<input class ="radio" type="radio" name="highlight" id="vowels" value="vowels" [(ngModel)]="highlightWhat" checked> <label class = "radio-label" for="vowels">Vowels</label>
							<input class ="radio" type="radio" name="highlight" id="consonants" value="consonants" [(ngModel)]="highlightWhat"> <label class = "radio-label" for="consonants">Consonants</label>
						</span>
					</div>
				</div>
				<!-- Displays amount user has scrolled within scene -->
				<progress id="progressbar" value="0" max="100"></progress>
			</div>		
		</div>
	</span>
</body>